.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.btn-group {
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	margin: 8px;
	background-color: #d84054;
	border: none;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
}

.btn:disabled {
	background-color: #cccccc;
	color: #666666;
}

@media only screen and (max-width: 600px) {
	.btn {
		font-size: 10px;
	}
}

.bg-special {
	background: burlywood;
	padding: 4.5px;
	font-style: italic;
}